<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- External Libraries -->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    
    <!-- CSS File -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='css/img/NewLogo.png') }}">

    <title>PrimeRoastAdmin</title>
</head>
<body>

    <!-- SIDEBAR -->
    <section id="sidebar">
        <a href="#" class="brand">
            <!-- Logo -->
            <img src="{{ url_for('static', filename='css/img/NewLogo.png') }}" id="Shopicon" class='bx'>
        </a>
        <ul class="side-menu top">

            <li class="active">
                <a href="#" id="dashboard-link">
                    <i class='bx'>

                        <svg xmlns="http://www.w3.org/2000/svg" width="1.3em" height="1.3em" viewBox="0 0 24 24">
                            <path fill="currentColor" d="m12.707 2.293l9 9c.63.63.184 1.707-.707 1.707h-1v6a3 3 0 0 1-3 3h-1v-7a3 3 0 0 0-2.824-2.995L13 12h-2a3 3 0 0 0-3 3v7H7a3 3 0 0 1-3-3v-6H3c-.89 0-1.337-1.077-.707-1.707l9-9a1 1 0 0 1 1.414 0M13 14a1 1 0 0 1 1 1v7h-4v-7a1 1 0 0 1 .883-.993L11 14z" />
                        </svg>

                    </i>
                    <span class="text">Home</span>
                </a>
            </li>


        <li>
                <a href="#" id="orders-link">
                    <i class='bx'>

                        <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 24 24">
                            <path fill="currentColor" d="M19 7c0-1.1-.9-2-2-2h-3v2h3v2.65L13.52 14H10V9H6c-2.21 0-4 1.79-4 4v3h2c0 1.66 1.34 3 3 3s3-1.34 3-3h4.48L19 10.35zM7 17c-.55 0-1-.45-1-1h2c0 .55-.45 1-1 1"></path>
                            <path fill="currentColor" d="M5 6h5v2H5zm14 7c-1.66 0-3 1.34-3 3s1.34 3 3 3s3-1.34 3-3s-1.34-3-3-3m0 4c-.55 0-1-.45-1-1s.45-1 1-1s1 .45 1 1s-.45 1-1 1"></path>
                        </svg>

                    </i>
                    <span class="text">Delivery</span>
                </a>
            </li>
  
            <li>
                <a href="#" id="search-link">
                    <i class='bx'>

                        <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 24 24">
                            <path fill="currentColor" d="m15.5 19.925l-4.25-4.25l1.4-1.4l2.85 2.85l5.65-5.65l1.4 1.4zM21 10h-2V5h-2v3H7V5H5v14h6v2H5q-.825 0-1.412-.587T3 19V5q0-.825.588-1.412T5 3h4.175q.275-.875 1.075-1.437T12 1q1 0 1.788.563T14.85 3H19q.825 0 1.413.588T21 5zm-9-5q.425 0 .713-.288T13 4t-.288-.712T12 3t-.712.288T11 4t.288.713T12 5" />
                        </svg>

                    </i>
                    <span class="text">Inventory</span>
                </a>
            </li>
            <li>
                <a href="#" id="history-link">
                    <i class='bx'>

                        <svg xmlns="http://www.w3.org/2000/svg" width="1.4em" height="1.4em" viewBox="0 0 24 24">
                            <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                <path d="M3 12a9 9 0 1 0 9-9a9.75 9.75 0 0 0-6.74 2.74L3 8" />
                                <path d="M3 3v5h5m4-1v5l4 2" />
                            </g>
                        </svg>

                    </i>
                    <span class="text">Transactions</span>
                </a>
            </li>
  <!-- ANG ADRESS ADTU E BUTANG SA PROFILE PAGE -->

            <!-- More menu items... -->
        </ul>
        <ul class="side-menu">
            <li>
                <a id="LogoutBtn" href="#" class="logout">
                    <i class='bx bx-log-out'></i>
                    <span class="text">Logout</span>
                </a>
            </li>
        </ul>
    </section>

    <!-- CONTENT -->
    <section id="content">

        <div id="SupportModal" class="modal">
            <div class="modal-content">
              
                <button class="modal-close" id="closesuportmodal">×</button>
        
                <!-- Sidebar for selecting users -->
                <div class="user-sidebar">
                    <h3>Users</h3>
                    <ul id="userList">
                        <!-- User list will be dynamically populated -->
                    </ul>
                </div>
        
                <!-- Chatbox for selected user -->
                <div class="chat-container">
                    <div id="chatHeader">
                        <h4 id="selectedUserName">Select a User</h4>
                    </div>
                    <div id="messageContainer" class="message-container"></div>
                    <div class="modal-footer">
                      
                        <input type="text" id="messageInput" placeholder="Type your message...">
                        <button id="sendMessage">Send</button>
                    </div>
                    
                </div>
            </div>
        </div>
        
        

        <!-- NAVBAR -->
        <nav>
            <i class='bx bx-menu'></i>
            <form action="#">
                <div class="form-input"></div>
            </form>
            
            <svg id="updateMenu" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g fill="none" fill-rule="evenodd"><path d="m12.594 23.258l-.012.002l-.071.035l-.02.004l-.014-.004l-.071-.036q-.016-.004-.024.006l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.016-.018m.264-.113l-.014.002l-.184.093l-.01.01l-.003.011l.018.43l.005.012l.008.008l.201.092q.019.005.029-.008l.004-.014l-.034-.614q-.005-.019-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.003-.011l.018-.43l-.003-.012l-.01-.01z"/><path fill="currentColor" d="M9 5a2 2 0 0 1 2-2h2a2 2 0 0 1 2 2v4h4a2 2 0 0 1 2 2v2a2 2 0 0 1-2 2h-4v4a2 2 0 0 1-2 2h-2a2 2 0 0 1-2-2v-4H5a2 2 0 0 1-2-2v-2a2 2 0 0 1 2-2h4z"/></g></svg>
    

    
            <button id="authButton" style="display: none;">Sign In/Sign Up</button>
    
            <label class="ui-switch" for="switch-mode">
                <input type="checkbox" id="switch-mode" hidden>
                <div class="slider">
                    <div class="circle"></div>
                </div>
            </label>
        </nav>


        <main>
            <div class="head-title">
                <div class="left">
                    <h1 id="content-title">Dashboard</h1>
                    <ul class="breadcrumb">
                        <li><a href="#">Dashboard</a></li>
                        <li><i class='bx bx-chevron-right' ></i></li>
                        <li><a class="active" href="#" id="BreadcrumName">Home</a></li>
                    </ul>
                </div>
            </div>

            <div id="dashboard-content">

                <form>
                    <div id="lowerbox">
                     
                       
                     
                               <!-- Here mga sud -->
<div class="box" id="updateMenu">
  
    
        <span class="TotalUsers">

        </span> 
    
   
    

</span>

    <div id="productMenu" class="menu-popup">
        <div class="menu-content">
            <h3>Add Product</h3>
            <label for="productName">Product Name:</label>
            <input type="text" id="productName" placeholder="Enter product name" />

            <label for="productImage">Upload Product Image:</label>
            <input type="file" id="productImage" accept="image/*" />

            <!-- Category Section -->
            <label for="productCategory">Category:</label>
            <select id="productCategory">
                <option value="" disabled selected>Select category</option>
            </select>
            <button type="button" id="addCategoryBtn">Add New Category</button>

            <!-- New Category Modal -->
            <div id="newCategoryModal" class="modal-newcat" style="display: none;">
                <div class="modal-content-categorysomething">
                    <h4>New Category</h4>
                    <input type="text" id="newCategoryName" placeholder="Enter category name" />
                    <button type="button" id="saveCategoryBtn">Save Category</button>
                    <button type="button" id="closeCategoryModal">Close</button>
                </div>
            </div>

            <!-- Variant and Price Fields -->
            <h4>Variants</h4>
            <div id="variantsContainer">
                <div class="variant">
                    <label for="variantName1">Variant 1 Name:</label>
                    <input type="text" class="variant-name" placeholder="Enter variant name (e.g., 'spicy sinigang')" />
                    <label for="variantPrice1">Price:</label>
                    <input type="number" class="variant-price" placeholder="Enter price (e.g., '160')" />
                    <label for="variantStock1">Stock:</label>
                    <input type="number" class="variant-stock" placeholder="Enter stock (e.g., '50')" />
                </div>
            </div>
            <button type="button" id="addVariant">Add Another Variant</button>

            <button id="submitProduct">Add Product</button>
            <button id="closeMenuANIMALYAWA">Close</button>
        </div>
    </div>
</div>

                                <div class="box">
                                    <span class="Total-Orders">

                                                    

                                    </span>
                                </div>
                                            <div class="box ">

                                                <span class="TotalOutgoing">
    
                                                </span>
                                              
                                            </div>
                                    
                      
                    </div>
                    
                    <div class="LowerLowerBox">
                        <table class="order-table" border="1" style="width: 100%; text-align: left; border-collapse: collapse;">
                            <thead>
                                <tr class="table-header">
                                    <th>User Name</th>

                                    <th>Contact Number</th>
                                    <th>Order Time</th>
                                    <th>Ordered Items</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if orders %}
                                    {% for order in orders %}
                                        <tr class="order-row">
                                            <td>{{ order.Name }}</td>
                                           
                                            <td>{{ order.ContactNumber }}</td>
                                            <td>{{ order.OrderTime }}</td>
                                            <td>
                                                <!-- Show Orders Button -->
                                                <button type="button"  id="toggle-btn-{{ loop.index }}" 
                                                        onclick="toggleOrders('orders-modal-{{ loop.index }}', 'toggle-btn-{{ loop.index }}')"
                                                        class="toggle-orders-btn">
                                                    Show Orders
                                                </button>
                                                <!-- Orders Modal -->
                                                <div id="orders-modal-{{ loop.index }}" class="orders-modal">
                                                    <ul class="order-items-list">
                                                        {% for item in order.OrderItems %}
                                                            <li>
                                                              
                                                                <span> {{ item.variant }}</span>
                                                                - Qty: {{ item.quantity }} @ {{ item.price }}
                                                                <img src="{{ item.productImage }}" alt="Product Image" class="product-image">
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            </td>
                        
                                            <!-- Outgoing Button -->
                                            <td>
                                                <button class="outgoing-btn" 
                                                        data-user-id="{{ order.UserID }}" 
                                                        data-order-index="{{ order.orderKey }}"
                                                        onclick="sendToOutgoing('{{ order.UserID }}', '{{ order.orderKey }}')">
                                                    Prepearing Order
                                                </button>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="6" style="text-align: center;">No orders at the moment.</td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                        
                        
                        
                          
                    </div>
                    
                    
                    
                    
                    
                    
                    

                </form>

            </div>
        </main>

                        <!-- Pop-up Container -->
                        <div id="popup" class="popup-container" style="display: none;">
                            <div class="popup-content">
                                <span id="closePopup" class="close-popup">&times;</span>
                                <h2>Login or Sign Up</h2>
                                <!-- Login Form -->
                                <form id="loginForm">
                                    <input type="email" id="loginEmail" placeholder="Email" required>
                                    <input type="password" id="loginPassword" placeholder="Password" required>
                                    <button type="submit">Login</button>
                                </form>
                        
                                <hr>
                        
                                <!-- Sign Up Form -->
                                <form id="signupForm">
                                    <input type="email" id="signupEmail" placeholder="Email" required>
                                    <input type="password" id="signupPassword" placeholder="Password" required>
                                    <button type="submit">Sign Up</button>
                                </form>
                            </div>
                        </div>
                        

    <!-- Content for the "search" section -->
    <main>
        <div id="editProductModal" class="modal">
            <div class="modal-content">
                <span class="close-btn">&times;</span>
                <h2>Edit Product</h2>
                <input type="text" class="product-name-input" placeholder="New Product Name">
                <h3>Variants</h3>
                <div id="variants-container"></div>
                <button class="save-btn">Save</button>
            </div>
        </div>
    
        <div id="search-content" style="display: none;">
            <table class="inventable">
                <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Category</th>
                        <th>Image</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="InventoryTableDiv">
                    <tr>
                        <td colspan="4" class="no-orders-message">Fetching products...</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
    <main>
        <div id="orders-content" style="display: block;">
            <table class="outgoing-table">
                <thead>
                    <tr>
                        <th>User Name</th>
                      
                        <th>Contact Number</th>
                        <th>Order Time</th>
                        <th>Order Items</th>
                        
                    </tr>
                </thead>
                <tbody id="outgoingDiv">

                </tbody>
            </table>
        </div>
        
    </main>
    

        <!-- Content for the "favorites" section -->
        <main>
            <div id="favorites-content" style="display: none;">
                <table>
                    <tbody id="AnnouncementsDiv" >
                        <p>favorites</p>

                    </tbody>
                </table>
            </div>
        </main>

            <!-- Content for the "history" section -->
      <main>
        <div id="history-content" style="display: none;">
            <table>
                <tbody id="TransactionsTableRecent" >

                </tbody>
            </table>
        </div>
    </main>

    </section>



    <div id="SupportBtn" class="floating-circle">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><path fill="currentColor" d="M2 16C2 8.268 8.268 2 16 2s14 6.268 14 14s-6.268 14-14 14c-2.368 0-4.602-.589-6.56-1.629l-5.528 1.572A1.5 1.5 0 0 1 2.06 28.09l1.572-5.527A13.94 13.94 0 0 1 2 16m8-3a1 1 0 0 0 1 1h10a1 1 0 1 0 0-2H11a1 1 0 0 0-1 1m1 5a1 1 0 1 0 0 2h6a1 1 0 1 0 0-2z"/></svg>
      </div>

    <!-- JavaScript Files -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/updateMenu.js') }}"></script>

    <script type="module" src="{{ url_for('static', filename='js/transactions.js') }}"></script>
    
    <script type="module" src="{{ url_for('static', filename='js/inventory.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/support.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/outgoing.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/home.js') }}"></script>
    <script src="{{ url_for('static', filename='js/content.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/nav.js') }}"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://unpkg.com/sweetalert2@10"></script>

    <!-- Add more JS files as needed -->
</body>
</html>
